*,*::before,*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

ul {
    list-style: none;
}

li {
    list-style-type: none;
}

/* App specific css */
.app-heading {
    font-size: 2.6rem;
}
.contact-box {
    background: violet;
    position: relative;
}

.contact-box__header {
    cursor: pointer;
}
.contact-box__toggle {
    color: green;
}

.contact-box__delete {
    font-size: 2rem;
    color: red!important;
    position: absolute;
    right: 1rem;
}

.contact-box__edit {
    position: absolute;
    right: 4rem;
}
/* About */
.about-box {
    padding: 3rem 5rem;
    background: #eee;
}

.about__header {
}

.about__lead {
    font-size: 2rem;
}

.about__extra {
    font-size: 1.5rem;
    color: rgba(192, 0, 0, 1);
}